.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  background-color: #fff;
  border: 2px solid black;
  margin: auto;
  margin-top: 20px;
}

.header {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  width: 100%;
  margin-bottom: 10px;
  padding-top: 20px;
}

.types-header {
  font-weight: bold;
  margin-bottom: 5px;
  padding-top: 20px;
}

.content {
  display: flex;
  width: 100%;
}

.left-panel, .right-panel {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.image-box {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  overflow: hidden;
}

.image-box img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.pokemon-name {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  background-color: #eee;
  border-radius: 5px;
  border: 0.5px solid black;
  padding: 5px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.button {
  background-color: #eee;
  border-radius: 10px;
  border: none;
  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover, .nav-button:hover {
  background-color: #ddd;
}

.button.active {
  background-color: rgb(46, 195, 46);
  color: black;
}

.info-content, .moves-content {
  width: 100%;
  background-color: #eee;
}

.info {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  margin-bottom: 10px;
}

.moves {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  margin-bottom: 10px;
}

.stats {
  list-style: none;
}

.navigation {
  display: flex;
  justify-content: center; 
  margin-top: 10px; 
}

.nav-button {
  background-color: #eee;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
}

.type-tag {
  display: inline-block;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
  font-size: 14px;
  color: black;
  flex-wrap: wrap;
}

.type-normal { background-color: #A8A77A; }
.type-fire { background-color: #EE8130; }
.type-water { background-color: #6390F0; }
.type-electric { background-color: #F7D02C; }
.type-grass { background-color: #7AC74C; }
.type-ice { background-color: #96D9D6; }
.type-fighting { background-color: #C22E28; }
.type-poison { background-color: #A33EA1; }
.type-ground { background-color: #E2BF65; }
.type-flying { background-color: #A98FF3; }
.type-psychic { background-color: #F95587; }
.type-bug { background-color: #A6B91A; }
.type-rock { background-color: #B6A136; }
.type-ghost { background-color: #735797; }
.type-dragon { background-color: #6F35FC; }
.type-dark { background-color: #705746; }
.type-steel { background-color: #B7B7CE; }
.type-fairy { background-color: #D685AD; }
